header {
				background: #FFFFFF;
			}
			footer{
				background: white;
				color: grey;
			}
			nav{
				color: green;
			}
			h1 {
				font-size: 36px;
				font-family: sans-serif;
				font-weight: normal;
				color: grey;
			}
			h2 {
				font: 14px monospace bold;
				text-align: center;
			}
			h3 {
				font-family: inherit;
				color: black;
				font-weight: normal;
				display: block;
				margin-block-start:0em;
				margin-block-end:0em;

			}
			header,section,footer,aside,nav,article {
				display: block;
				width: auto;
			}
			body {
				background-color: black;
           /*   animation-name: example; */
          /*      animation-duration: 4s; */
				text-align: center;
				margin: auto;
			}
			div {
				width: auto;
				margin: auto;
				background-color: black;
			    animation-name: example;
                animation-duration: 4s;
			}
			.classh {
				background: grey;
				border: none;
			}
			.classheader {
				background: grey;
			}
			.classnav {
				background-color: black;
			    animation-name: example;
                animation-duration: 4s;
				margin: auto;

				text-align: right;
			}
			.classnav2 {
				background: white;
				margin: auto;
				padding: 10px;
				text-align: center;
			}
			.classnav2 li {
				list-style: none;
				padding: 7px;
				background: white;
				font: bold 14px verdana;
				display: inline-block;
			}
			.classnav3 li {
				list-style: none;
				padding: 7px;
				background: white;
				color: black;
				font: bold 14px verdana;
				display: inline-block;

			}
			.classnav6 li {
				list-style: none;
				padding: 7px;
				height: 300px;
				background: white;
				color: black;
				font: bold 14px verdana;
				display: inline-block;
			}
			.classnav li {
				list-style: none;
				background: grey;
				color: white;
				font: bold 14px verdana;
				display: inline-block;
			}
			.classpie {
				clear: both;
			}
			article {
				border: 1px solid;
				background: white;
				padding-bottom: 20px;
			}
			article p {
				text-align: center;
				background: white;
			}
			.classimgs {
				width: 300px;
			}
			.classimgs2 {
				height: 200px;
			}
			.classimgs3 {
				width: 100%;
			}
			.classimgs4 {
				width: 25%;
			}
			.slider {
				width: 100%;
				margin: auto;
				overflow: hidden;
			}
			.slider ul {
				display: flex;
				padding: 0;
				width: 700%;
				animation: cambio2 60s infinite alternate;
				animation-timing-function: inherit;
			}
			.slider li {
				width: 100%;
				list-style: none;
			}
			.slider img {
				width: 100%;
			}
			.slider2 {
				background-color: #ffffff;
				height: 225px;
				width: auto;
				margin: auto;
				overflow: hidden;
			}
			.slider2 ul {
				height: 200px;
				display: inline-flex;
				padding: 0;
				width: 150%;
				animation: cambio 21s infinite alternate;
				animation-timing-function: inherit;
			}
			.slider2 li {
				height: 200px;
				width: 100%;
				list-style: none;
			}
			.slider2 img {
				height: 200px;
				width: auto;
			}
			@keyframes cambio {
				0% { margin-left: 0;}
				25% { margin-left: 0;}
				50% { margin-left: -50%;}
				75% { margin-left: -100%;}
				100% { margin-left: -125%;}


			}
			@keyframes cambio2 {
				0% { margin-left: 0;}
				8% { margin-left: 0;}
				16% { margin-left: -100%;}
				24% { margin-left: -100%;}
				32% { margin-left: -200%;}
				40% { margin-left: -200%;}
				48% { margin-left: -300%;}
				56% { margin-left: -300%;}
				64% { margin-left: -400%;}
				72% { margin-left: -400%;}
				80% { margin-left: -500%;}
				88% { margin-left: -500%;}
				92% { margin-left: -600%;}
				100% { margin-left: -600%;}


			}
			
	/*		}
		@keyframes example {
  		from {background-color: grey;}
  		to {background-color: black;}
}*/