body {
	background-image: url(imgcontact.jpg);
	background-size: 100vw 100vh;
	background-attachment: local;
	margin:0;
	color: rgb(248, 8, 8);
}
form {
	width: 450px;
	margin: auto;
	background: rgba(0,0,0,0.4);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 6px;
}

h2{
	color: #fff;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;
}
h3{
	color: #fff;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;
}

input,textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
}

textarea {
	min-height: 100px;
	max-height: 250px;
	max-width: 100%;
}

button{
	background: #3c97a3;
	color: #fff;
	padding: 10px; 
	width: 100%;
}
button:hover {
	cursor: pointer;
}

@media (max-width: 480px) {
	form {
		width: 100%;
	}
}